/*Usamos @media screen para crear las opciones de pantalla*/

*{
    padding: 0px;
    margin: 0px;
}

/*Para PC en amarillo con borde marrón*/
@media  screen and (min-width: 1200px) {
    div{
        width: 80%;
        height: 500px;
        border: solid brown 2px;
        background-color: yellow;
    }
}

/*Tablet naranja con borde rojo*/
@media screen and (min-width: 600px) and (max-width: 1199px){
    div{
        background-color: orange;
        border: 2px solid red;
        width: 80%;
        height: 400px;
    }
}

/*Móvil verde con borde verde*/
@media screen and (min-width: 1px) and (max-width:599px) {
    h1{
        display: none;
    }
    
    div{
        background-color: aquamarine;
        border: 2px solid green;
        width: 80%;
        height: 250px;
    }
}