/*Introducción - Vídeo I
Partes de un estilo - selector(zona a modificar){bloque de declaración(instrucciones de formato a aplicar)}
Cada navegador trae unas características CSS predeterminandas.*/

/*Hojas de estilo internas/externas I - Vídeo 2
Esto es una hoja de estilo externa::after
    - Dan formato a todo el sitio web.
    - Agilizan la descarga.
    - Van en un archivo vinculado independiente.*/

h1{
    /*propiedad: valor separadas por; La última puede ir sin ;*/
    text-align: center; /*Alineación de texto*/
    color: blue /*Color de texto*/

}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*Tipo de letra*/
    color: green;
    font-size: 18px; /*Tamaño de letra*/
    text-decoration: underline; /*Subrayados, etc*/
}