*{ /* Anulamos los bordes de la página del navegador*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#tablero{
    display: flex;
    border: 1px solid black;
    width: 402px;
    height: 402px;
}

#celda1{
    display: flex;
    border: none;
    background-color: white;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

#celda2{
    display: flex;
    border: none;
    background-color: black;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}
